*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    background-color: #0f0f10;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
}
body {
    margin: 0 15vw;
  }
.navbar{
    display: flex;
    gap: 18em;
    padding: 30px 0;
    align-items: center;
}
.navbar ul{
    display: flex;
    gap:50px;

}
.navbar button{
    background: #1e1e21;
    border-radius: 8px;
    font-weight: 300;
    font-size: 14px;
    padding: 10px 40px;
    position: relative;
    right: 17em;
}
.main1 .hero{
   display: flex;
   gap: 100px;
}
.main1 .hero1{
    margin-top: 60px;
}
.hero1 .bgc1 img{
    height: 80px;
}
.main_image img{
    position: relative;
    /* width: 280px; */
    height: 80%;
    top: -200px;
    left: 25px;
    background-color: transparent;
}
.hero1 h1{
    font-size: 40px;
    font-weight: 700;
    margin-top: 10px;
}
.hero1 h4{
    margin-top: 40px;
    font-size: 20px;
    font-weight: 700;
}
.description p{
    line-height: 25px;
    margin-top: 30px;
    font-size: 13px;
    /* font-weight: 700; */
}
.cart button{
    background-color: transparent;
    /* border: none; */
    display: flex;
    gap: 20px;
    padding: 10px 30px;
    background: #1e1e21;
    width: fit-content;
    border-radius: 10px;
    align-items: center;
    margin-top: 50px;
}
.cart img{
    background-color: transparent;
    width: 15px;
}
.cart p{
    background-color: transparent;
    font-size: 12px;
    font-weight: 500;
}

.cart span{
    background-color: transparent;
    font-weight: 700;
    font-size: 15px;
}
.social ul{
    display: flex;
    position: relative;
    top: -120px;
    /* align-items: center; */
    justify-content: space-around;
    align-content: center;
    font-weight: 900;
    font-size: 20px;
}
.bgc2 {
    display: flex;
    justify-content: center;
}
.bgc2 img{
    width: 220px;
}
.main2 .hero2{
    display: flex;
    justify-content: space-around;
}
.main2 .hero2 .left .move{
    position: relative;
    left: 30px;
}
.main2 .hero2 .left ul li{
    /* margin-top: 5px; */
    font-size: 14px;
    font-weight: 900;
}
.main2 .hero2 .left ul p{
    font-size: 12px;
    font-weight: 900;
}
.main2 .right img{
    position: relative;
    top: 50px;
    height: 18em;
    width: 280px;
    background-color: transparent;
}
.bgc3{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}
.hero3
{
    display: flex;
    justify-content: center;
    gap: 130px;
    margin-top: 90px;
}
.hero3 .left img{
    height: 20em;
}
.hero3 .right p{
    line-height: 20px;
    margin-top: 30px;
    font-size: 13px;
    font-weight: 700;
}
.hero3 button{
    margin-top: 20px;
    padding: 5px 8px;
    border-radius: 8px;
    background: #1e1e21;
}
.base
{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #1c1b1b;
    border-radius: 50px;
    position: relative;
}
.base .left{
    background-color: transparent;
}
.base h2{
    font-size: 18px;
    font-weight: 900;
    background-color: transparent;
}
.base p{
    font-size: 10px;
    font-weight: 900;
    background-color: transparent;
    /* margin-top: 10px; */
}
.base button{
    background-color: transparent;
    display: flex;
    gap: 15px;
    padding: 3px 8px;
    background: #1e1e21;
    border-radius: 10px;
    align-items: center;
    margin-top: 20px; 
}
.base button img{
    background-color: transparent;
    width: 15px;
}
.base button p{
    background-color: transparent;
    font-size: 12px;
    font-weight: 500;
}
.base .right img{
    background-color: #1c1b1b;
    height: 15em;
    padding: 25px;
    display: flex;
    align-items: center;
}
.bgc4{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}
.bgc4 img{
    width: 330px;
}
.products{
    display: grid;
    grid-template-columns:150px 150px;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    row-gap: 80px;
    column-gap: 100px;
    margin-top: 100px;
}
.products .img{
    display: flex;
    flex-direction: column;
    background: #1e1e21;
    width: 180px;
    height: 9em;
    margin-top: 30px;
    border-radius: 8px;
}
.products .img img{
    background-color: transparent;
    height: 15em;
    position: relative;
    top: -90px;
    width: 150px;
    display: flex;
    align-self: center;
}
.products .img p{
    position: relative;
    top: -80px;
    background-color: transparent;
    text-align: center;
}
.footer{
    display: flex;
    justify-content: space-around;
}
.footer img{
    height: 50px;
    margin-top: 100px;
    width: 50px;
}
.footer .products{
    position: relative;
    left: 80px;
}
.footer .support{
    margin-top: 100px;
    position: relative;
    left: -100px;
}
.footer .contact{
    margin-top: 100px;
}
.footer ul p{
    font-size: 18px;
    font-weight: 780;
}
.footer ul li{
   margin-top: 5px;
   font-size: 12px;
}
.footer .contact ul{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}